<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="utf-8" />
            <title>Blog Ariel Nathan</title>
            <link href="public/css/style.css" rel="stylesheet" /> 
        {% endblock %}
    </head>
        
    <body>
       
        <h1>Super blog d'Ariel !</h1>
        
        <p>Derniers billets du blog :</p>
 
        {% block chapterList %}
        {% endblock %}


    </body>
</html>